h1{
    text-align: center;
    color: rgb(156, 19, 168);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
}
body{
   background-color: black 
}
.drdonut{
    display: flex;
    justify-content: center;
    flex-direction: column

}
img{ <IMG SRC="screenshot 2026-03-30 195042.png" 
    width: 250px;
}
